@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 75%;
  margin-left: 12.5%;
  align-items: stretch;
  justify-content: space-between;
  background: #EEE;
}

header {
  height: 15%;
}

footer {
  width: 100%;
  position: absolute;
  height: 10%;
  bottom: 0;
  border: 1px black solid;
}

main div {
  width: calc(100%/3 - 1%);
  height: calc(100%/3 - 1%);
  border: 1px solid black;
}
