@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lobster|Prompt&display=swap');

$colorBlue: #0B0C10;
$colorBlue2: #1F2833;
$colorGray: #C5C6C7;
$colorDarkGray: #A5A6A7;
$colorLightBlue: #66FCF1;
$colorLightBlue2: #45A29E;

html, body {
  height: 100%;
  background: $colorBlue2;
}

h1, form {
  display: inline-block;
}

nav {
  padding: 10px;
}

input[type=text], input[type=password] {
  border-radius: 3px;
  background-color: $colorGray;
  &::selection {
    background: $colorDarkGray;
  }
}

.side-text {
  text-shadow: 5px 0 20px $colorLightBlue2;
  transform: rotate(5deg);
  color: $colorLightBlue;
  font-family: 'Lobster', sans-serif;
  width: 100%;
  display: inline;
  opacity: 0.35;
  position: absolute;
  font-size: 2400%;
  bottom: 25%;
  left: 0;
  user-select: none;
  white-space: nowrap;
  //top: 50%;
}

main {
  width: 65%;
  height: 65%;
  margin: 5% 0 5% 17.5%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.text-block {
  font-family: 'Prompt', sans-serif;
  color: $colorGray;
}

img {
  width: 100%;
  height: 100%;
}

.text-block {
  width: 100%;
  height: 35%;
  text-shadow: 0 5px 3px black;
}

.tictactoe {
  padding: 2.5%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 65%;
  align-items: stretch;
  background: rgba($colorGray, 0.25);
  border-radius: 2%;
}

.box {
  width: calc(98%/3);
  height: calc(98%/3);
  background: $colorGray;
  box-shadow: 2px 3px $colorBlue;
  &:hover {
    background: $colorBlue2;
  }
}

header {
  //eight: 10%;
  background: $colorBlue;
  font-family: 'Lobster', sans-serif;
  color: $colorLightBlue;
  text-align: center;
  box-shadow: 0 3px $colorLightBlue2;
}

button {
  background: $colorBlue;
  background: $colorLightBlue2;
  border-color: $colorLightBlue;
  border-radius: 5%;
}

.box-left, .box-mid-y {
  margin-right: 1%;
}

.box-top, .box-mid-x {
  margin-bottom: 1%;
}

footer {
  background: $colorBlue;
  color: $colorLightBlue2;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  width: 100%;
  height: 15%;
  bottom: 0;
  border-top: 3px solid $colorLightBlue2;
}

.game-options {
  font-family: 'Lobster', sans-serif;
  width: 100%;
  padding: 10px;
}

.dropdown {
  font-family: 'Prompt', sans-serif;
}

.scoreboard {
  display: inline;
  position: absolute;
  left: 0;
  color: $colorGray;
  text-shadow: 0 5px 3px $colorBlue;
}

.hidden {
  visibility: hidden;
}

.failure {
  color: red;
}

.success {
  color: $colorLightBlue;
}
